*.swp
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
grabs/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h.in
src/config.h.in~
src/gifengine
src/stamp-h1
stereoGpu/stereoGpu
tools/.deps/
tools/Makefile
tools/Makefile.in
tools/image_list_creator
tools/stereo_calibration
